.bg-yellow {
  background-color: #ffc107;
}

.bg-red {
  background-color: #d70808;
}

body {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background-color: #0C0B0A;
  position: relative;
  height: fit-content;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-content {
  padding-top: 0px;
}

.heading-top {
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 26px;
}

.global--pre-title {
  color: #AFAFAF;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 110%;
  font-family: "Inter", sans-serif;
  margin-bottom: 12px;
}

p {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  font-family: "Urbanist", sans-serif;
}

h1 {
  font-size: 55px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  line-height: 110%;
}
@media (max-width: 992px) {
  h1 {
    font-size: 45px;
  }
}
h1 span {
  color: #55B809;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 110%;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
}
@media (max-width: 992px) {
  h2 {
    font-size: 35px;
  }
}
h2 span {
  color: #55B809;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 110%;
}
@media (max-width: 992px) {
  h3 {
    font-size: 25px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 110%;
  font-family: "Inter", sans-serif;
}
@media (max-width: 992px) {
  h4 {
    font-size: 20px;
  }
}
h4 span {
  color: #55B809;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}

.global--form {
  background-color: #fff;
  padding: 50px 40px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.global--form h2 {
  font-weight: 500;
  font-size: 30px;
}
.global--form .form-group label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}
.global--form .form-group .form-control {
  height: 50px;
  background: #FFFFFF;
  border: 0.5px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
.global--form .form-group textarea.form-control {
  height: 150px;
  padding-top: 10px;
}
.global--form .form-group .btn--primary {
  width: 100%;
  display: block;
  margin-top: 35px;
}

.btns-container {
  display: flex;
  gap: 1rem;
}
@media (max-width: 492px) {
  .btns-container {
    flex-direction: column;
  }
}

.top-bar {
  width: 100%;
  height: 55px;
  padding: 0px 1rem;
  background-color: #0C0B0A;
}
.top-bar .wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-bar .wrapper .services-quick-links {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-bar .wrapper .services-quick-links span {
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 !important;
}
.top-bar .wrapper .services-quick-links a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  margin: 0 !important;
}
.top-bar .wrapper .top-bar-socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-bar .wrapper .top-bar-socials a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
.top-bar .wrapper .top-bar-socials a .top-bar-socials--icon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #55B809;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 692px) {
  .top-bar .wrapper .top-bar-socials a {
    margin: 0 !important;
  }
  .top-bar .wrapper .top-bar-socials a span {
    display: none;
  }
}
@media (max-width: 692px) {
  .top-bar .wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
  }
}
@media (max-width: 692px) {
  .top-bar {
    height: 85px !important;
    position: relative;
    z-index: 9999;
  }
}

.main--cta {
  background-image: url("../../images/cta-bg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
}
.main--cta .wrapper {
  padding: 112px 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.main--cta .wrapper p {
  max-width: 620px;
}

.btn {
  min-width: 150px;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding: 10px 17px;
  text-transform: capitalize;
  border: 1px solid #55B809;
  border-radius: 5px;
}
.btn--primary {
  background-color: #55B809;
  color: #070707;
  font-weight: 600;
}
.btn--secondary {
  color: #070707;
  background-color: #fff;
  border-color: #fff;
}

header {
  z-index: 999;
  position: sticky;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background-color: #070707;
}
header .wrapper {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}
header .wrapper .main-logo {
  max-width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .wrapper .main-navigation {
  display: flex;
  align-items: center;
}
header .wrapper .main-navigation ul {
  padding: 0;
  margin: 0;
}
header .wrapper .main-navigation ul li {
  display: inline-block;
  padding: 0 16px;
}
@media (max-width: 1440px) {
  header .wrapper .main-navigation ul li {
    padding: 0 12px;
  }
}
header .wrapper .main-navigation ul li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
@media (max-width: 1280px) {
  header .wrapper .main-navigation ul li a {
    font-size: 14px;
  }
}
header .wrapper .main-navigation ul li a:hover {
  color: #55B809;
}
header .right {
  text-align: right;
}
header .right .btn {
  display: inline-block;
  margin-left: 8px;
}
@media (max-width: 1280px) {
  header .right .btn {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .header--desktop {
    display: none;
  }
}

.header--mobile {
  display: none;
  background-color: #070707;
  padding: 20px 0;
}
.header--mobile .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--mobile .mobile-logo-con {
  width: 220px;
}
.header--mobile .mobile-menu {
  z-index: 99;
  position: fixed;
  top: 55px;
  right: 0;
  width: 240px;
  height: 100%;
  background-color: #070707;
  padding: 70px 30px;
  -webkit-transform: translate(240px, 0);
  transform: translate(240px, 0);
  transition: -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  transition: transform 0.5s cubic-bezier(0, 0.52, 0, 1), -webkit-transform 0.5s cubic-bezier(0, 0.52, 0, 1);
  overflow: auto;
}
.header--mobile .mobile-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.header--mobile .mobile-menu ul li {
  display: block;
  padding-bottom: 11px;
  margin-bottom: 13px;
  border-bottom: 1px solid #4a4a4a;
}
.header--mobile .mobile-menu ul li a {
  z-index: 12;
  position: relative;
  font-size: 14px;
  color: #fff;
  transition: all 300ms ease;
}
.header--mobile .mobile-menu ul li a:hover {
  color: #55B809;
}
.header--mobile .mobile-menu ul li a.btn {
  width: 100%;
}
.header--mobile .mobile-menu ul li a.btn--primary {
  color: #070707;
}
.header--mobile .mobile-menu ul li a.btn--primary:hover {
  opacity: 0.8;
}
.header--mobile .mobile-menu ul li.has-dropdown a.has-collapse {
  position: relative;
  display: block;
}
.header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:before {
  content: "\f078";
  position: absolute;
  top: 2px;
  right: 0;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 14px;
}
.header--mobile .mobile-menu ul li.has-dropdown a.has-collapse:after {
  display: none;
  content: initial;
}
.header--mobile .mobile-menu ul li.has-dropdown ul li {
  padding: 0;
  border: 0;
}
@media (max-width: 692px) {
  .header--mobile .mobile-menu {
    top: 80px;
  }
}

.hamburger {
  z-index: 1234;
  position: relative;
  top: 0;
  display: inline-block;
  width: 28px;
  height: 21px;
  margin: -5px 0;
  cursor: pointer;
}
.hamburger div {
  z-index: 12;
  position: relative;
  margin-top: 9px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #55B809;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.hamburger div:before {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #55B809;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
}
.hamburger div:after {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #55B809;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  bottom: -8px;
}

.nav-open .mobile-menu {
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  box-shadow: 8px 79px 60px 0px rgba(22, 22, 22, 0.17);
}
.nav-open .hamburger div {
  background-color: transparent;
}
.nav-open .hamburger div:after {
  top: 1px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-open .hamburger div:before {
  top: 1px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.nav-open .main-header.fixed .hamburger div {
  background-color: transparent;
}

@media (max-width: 992px) {
  .header--mobile {
    display: block;
  }
}
@media (max-width: 1440px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 4px 0;
  }
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 18px;
    padding: 8px 20px;
  }
}
@media (max-width: 576px) {
  .header--mobile .mobile-navigation--top-nav {
    padding: 0;
  }
}
@media (max-width: 680px) {
  .header--mobile .mobile-navigation--top-nav ul {
    align-items: center;
  }
  .header--mobile .mobile-navigation--top-nav ul li a {
    display: block;
    padding: 8px 10px;
  }
}
@media (max-width: 540px) {
  .header--mobile .mobile-navigation--top-nav ul {
    flex-wrap: wrap;
  }
  .header--mobile .mobile-navigation--top-nav ul li {
    flex: 0 0 33.33%;
    width: 33%;
  }
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 16px;
    text-align: center;
    padding: 4px 10px;
    max-width: 130px;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .header--mobile .mobile-navigation--top-nav ul li a {
    font-size: 16px;
    padding: 8px 15px;
  }
}
footer {
  width: 100%;
  padding: 112px 1rem;
  background-color: #070707;
  background-image: url("../../images/foo-bg.svg");
  background-position: center;
}
footer .wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;
}
footer .wrapper .foo-socials {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .wrapper .foo-socials__logo {
  max-width: 260px;
}
footer .wrapper .foo-socials__socials-con {
  display: flex;
  gap: 10px;
  align-items: center;
}
footer .wrapper .foo-socials__socials-con a {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
}
footer .wrapper .foo-socials__socials-con a .foo-socials__socials--icon {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: #55B809;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .wrapper .foo-socials p {
  font-size: 14px;
  font-weight: 400;
  max-width: 300px;
  color: #fff;
}
@media (max-width: 992px) {
  footer .wrapper .foo-socials {
    align-items: center;
  }
  footer .wrapper .foo-socials p {
    text-align: center;
  }
}
footer .wrapper .foo-page-links {
  max-width: 750px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 35px;
  margin-top: 1rem;
}
footer .wrapper .foo-page-links div {
  display: flex;
  flex-direction: column;
  color: #fff;
}
footer .wrapper .foo-page-links div h4 {
  font-size: 18px;
  text-transform: uppercase;
}
footer .wrapper .foo-page-links div ul {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
footer .wrapper .foo-page-links div ul li {
  max-width: 290px;
}
footer .wrapper .foo-page-links div ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
}
footer .wrapper .foo-page-links div ul li a:hover {
  color: #55B809;
}
@media (max-width: 992px) {
  footer .wrapper .foo-page-links {
    flex-direction: column;
    align-items: center;
  }
  footer .wrapper .foo-page-links div {
    margin: 0 !important;
    align-items: center;
  }
  footer .wrapper .foo-page-links div h4 {
    text-align: center;
  }
  footer .wrapper .foo-page-links div ul {
    align-items: center;
  }
  footer .wrapper .foo-page-links div ul li {
    text-align: center;
  }
  footer .wrapper .foo-page-links div ul li a {
    text-align: center;
  }
}
@media (max-width: 992px) {
  footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1350px) {
  footer {
    background-size: cover;
  }
}

.page--home .section--hero {
  width: 100%;
  height: 680px;
  background-image: url("../../images/home-hero-bg.png");
  background-position: center;
  background-size: cover;
  color: #fff;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page--home .section--hero__pre-title {
  text-transform: uppercase;
  font-weight: 600;
}
.page--home .section--hero h1 {
  max-width: 800px;
  text-align: center;
  margin-bottom: 20px;
}
.page--home .section--hero__label {
  max-width: 710px;
  text-align: center;
  font-weight: 400 !important;
}
.page--home .section--hero__rating {
  margin-bottom: 20px;
}
.page--home .section--hero__rating svg {
  margin-bottom: 4px;
  margin-right: 4px;
}
.page--home .section--hero .btn-glass {
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.226);
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 17px;
  text-transform: capitalize;
  text-decoration: none;
  transition: 300ms;
}
.page--home .section--hero .btn-glass:hover {
  background-color: hsla(0, 0%, 100%, 0.361);
}
@media (max-width: 540px) {
  .page--home .section--hero {
    height: auto;
    padding: 7rem 1rem;
    align-items: flex-start;
  }
  .page--home .section--hero__pre-title,
  .page--home .section--hero h1, .page--home .section--hero__label, .page--home .section--hero__rating {
    text-align: start;
  }
}
.page--home .section--service-ov {
  width: 100%;
  padding: 112px 0rem;
  position: relative;
  overflow: hidden;
}
.page--home .section--service-ov .wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 60px;
}
.page--home .section--service-ov .wrapper .ph-s-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.page--home .section--service-ov .wrapper .ph-s-box__icon {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #55B809;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.page--home .section--service-ov .wrapper .ph-s-box h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
.page--home .section--service-ov .wrapper .ph-s-box p {
  max-width: 235px;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .page--home .section--service-ov .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 592px) {
  .page--home .section--service-ov .wrapper {
    grid-template-columns: 1fr;
  }
}
.page--home .section--service-ov .vector-1 {
  position: absolute;
  top: -5rem;
  left: -5rem;
  width: 230px;
}
.page--home .section--service-ov .vector-2 {
  position: absolute;
  top: 20%;
  transform: translateY(-10%);
  right: -4rem;
  width: 300px;
  rotate: -80deg;
}
@media (max-width: 592px) {
  .page--home .section--service-ov .vector-2 {
    top: 60%;
  }
}
.page--home .section--why-us {
  width: 100%;
  padding: 112px 0rem;
  padding-top: 80px;
}
.page--home .section--why-us .wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}
.page--home .section--why-us .wrapper .ph-sws-image {
  max-width: 600px;
}
.page--home .section--why-us .wrapper .ph-sws-detail {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.page--home .section--why-us .wrapper .ph-sws-detail h2 {
  color: #fff;
  max-width: 500px;
  margin-bottom: 1.5rem;
}
.page--home .section--why-us .wrapper .ph-sws-detail__box {
  margin-bottom: 0.8rem;
}
.page--home .section--why-us .wrapper .ph-sws-detail__box h4 {
  max-width: 480px;
  color: #fff;
}
.page--home .section--why-us .wrapper .ph-sws-detail__box p {
  max-width: 480px;
  color: #fff;
  font-weight: 400;
}
@media (max-width: 992px) {
  .page--home .section--why-us .wrapper {
    flex-direction: column;
  }
  .page--home .section--why-us .wrapper .ph-sws-detail {
    width: 100%;
    margin-top: 1.2rem;
  }
  .page--home .section--why-us .wrapper .ph-sws-detail h2,
  .page--home .section--why-us .wrapper .ph-sws-detail h4,
  .page--home .section--why-us .wrapper .ph-sws-detail p {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .page--home .section--why-us {
    padding-top: 20px;
  }
}
.page--home .section--featured-service {
  width: 100%;
  padding: 112px 0rem;
}
.page--home .section--featured-service .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page--home .section--featured-service .wrapper h2 {
  max-width: 460px;
  color: #fff;
  text-align: center;
}
.page--home .section--featured-service .wrapper .ph-sfs-w-label {
  max-width: 740px;
  text-align: center;
  color: #fff;
}
.page--home .section--featured-service .wrapper .ph-sfs-w-featured-con {
  width: 100%;
  display: flex;
  gap: 25px;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.page--home .section--featured-service .wrapper .ph-sfs-w-featured-con .ph-sfs-w-featured-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.page--home .section--featured-service .wrapper .ph-sfs-w-featured-con .ph-sfs-w-featured-box__icon {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #55B809;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.page--home .section--featured-service .wrapper .ph-sfs-w-featured-con .ph-sfs-w-featured-box h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  max-width: 291px;
}
.page--home .section--featured-service .wrapper .ph-sfs-w-featured-con .ph-sfs-w-featured-box p {
  max-width: 345px;
  text-align: center;
  color: #fff;
}
@media (max-width: 992px) {
  .page--home .section--featured-service .wrapper .ph-sfs-w-featured-con {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    row-gap: 30px;
  }
  .page--home .section--featured-service .wrapper .ph-sfs-w-featured-con .ph-sfs-w-featured-box {
    max-width: 300px;
  }
}
.page--home .section--process {
  width: 100%;
  padding: 112px 0rem;
}
.page--home .section--process .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 45px;
}
.page--home .section--process .wrapper .ph-s-p-w-info {
  color: #fff;
}
.page--home .section--process .wrapper .ph-s-p-w-info h2 {
  max-width: 550px;
}
.page--home .section--process .wrapper .ph-s-p-w-info p {
  max-width: 490px;
}
.page--home .section--process .wrapper .ph-s-p-w-info div {
  margin-top: 15px;
}
@media (max-width: 992px) {
  .page--home .section--process .wrapper .ph-s-p-w-info div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
  }
}
@media (max-width: 992px) {
  .page--home .section--process .wrapper .ph-s-p-w-info {
    width: 100%;
  }
}
.page--home .section--process .wrapper .ph-s-p-w-detail__con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  row-gap: 25px;
  margin-bottom: 40px;
}
.page--home .section--process .wrapper .ph-s-p-w-detail__con__box {
  background-color: #070707;
  border-radius: 5px;
  padding: 25px;
}
.page--home .section--process .wrapper .ph-s-p-w-detail__con__box p, .page--home .section--process .wrapper .ph-s-p-w-detail__con__box h4 {
  color: #fff;
}
.page--home .section--process .wrapper .ph-s-p-w-detail__con__box p {
  max-width: 300px;
}
@media (max-width: 992px) {
  .page--home .section--process .wrapper .ph-s-p-w-detail__con {
    grid-template-columns: 1fr;
  }
  .page--home .section--process .wrapper .ph-s-p-w-detail__con__box {
    width: 100%;
  }
  .page--home .section--process .wrapper .ph-s-p-w-detail__con__box p {
    max-width: 100%;
  }
}
@media (max-width: 992px) {
  .page--home .section--process .wrapper .ph-s-p-w-detail {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .page--home .section--process .wrapper {
    flex-direction: column;
  }
}
.page--home .section--testimonial {
  width: 100%;
  padding: 112px 1rem;
}
.page--home .section--testimonial .wrapper {
  color: #fff;
}
.page--home .section--testimonial .wrapper .section--testimonial--label {
  max-width: 840px;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con {
  display: flex;
  gap: 30px;
  width: 100%;
  margin-top: 6rem;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box {
  padding: 55px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 10px;
  background-color: #070707;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .quote-icon {
  position: absolute;
  top: -1.2rem;
  left: -1rem;
  width: 50px;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.5rem;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details__info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 55px;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details__info div {
  display: flex;
  flex-direction: column;
  gap: -1px;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details__info div .testimonial--name {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details__info div .testimonial--date {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
  margin: 0;
}
.page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details__stars {
  display: flex;
  align-items: center;
  gap: 1px;
}
@media (max-width: 492px) {
  .page--home .section--testimonial .wrapper .hm-st-w-testimonial-con__box .testimonial-details {
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }
}
@media (max-width: 992px) {
  .page--home .section--testimonial .wrapper .hm-st-w-testimonial-con {
    flex-direction: column;
    row-gap: 2rem;
  }
}
.page--home .section--testimonial .wrapper .testimonial-action-btns {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
}
.page--home .section--testimonial .wrapper .testimonial-action-btns__con {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page--home .section--testimonial .wrapper .testimonial-action-btns__con button {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #55B809;
  border-radius: 55px;
  border: none;
}

.page--about .section--hero {
  width: 100%;
  height: 500px;
  background-image: url("../../images/about-hero.png");
  background-position: center;
  background-size: cover;
}
.page--about .section--hero .wrapper {
  padding: 112px 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page--about .section--hero .wrapper h1 {
  max-width: 760px;
  text-align: center;
  color: #fff;
}
.page--about .section--hero .wrapper p {
  color: #fff;
  max-width: 680px;
  text-align: center;
}
@media (max-width: 592px) {
  .page--about .section--hero {
    padding-block: 20px;
    height: auto;
  }
}
.page--about .section--why-us {
  width: 100%;
  padding-block: 140px;
  position: relative;
  overflow: hidden;
}
.page--about .section--why-us .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: #fff;
}
.page--about .section--why-us .wrapper h2 {
  text-align: center;
  margin-bottom: 5px;
}
.page--about .section--why-us .wrapper p {
  text-align: center;
  max-width: 720px;
}
.page--about .section--why-us .vector-1 {
  position: absolute;
  top: -5rem;
  left: -5rem;
  width: 230px;
}
.page--about .section--why-us .vector-2 {
  position: absolute;
  top: 20%;
  transform: translateY(-10%);
  right: -4rem;
  width: 300px;
  rotate: -80deg;
}
@media (max-width: 592px) {
  .page--about .section--why-us .vector-2 {
    top: 40%;
  }
}
.page--about .section--our-mv {
  width: 100%;
  padding-block: 112px;
}
.page--about .section--our-mv .wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail {
  color: #fff;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail h2 {
  max-width: 610px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__label {
  max-width: 570px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box {
  padding: 35px 25px 25px 25px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 10px;
  background-color: #070707;
  margin-top: 2.5rem;
  max-width: 586px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .quote-icon {
  position: absolute;
  top: -1.2rem;
  left: -0.77rem;
  width: 50px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details__info {
  display: flex;
  align-items: center;
  gap: 10px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details__info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  border-radius: 55px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details__info div {
  display: flex;
  flex-direction: column;
  gap: -1px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details__info div .testimonial--name {
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  margin: 0;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details__info div .testimonial--date {
  font-size: 14px;
  color: #949494;
  font-weight: 400;
  margin: 0;
}
.page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details__stars {
  display: flex;
  align-items: center;
  gap: 1px;
}
@media (max-width: 492px) {
  .page--about .section--our-mv .wrapper .pa-s-omv-detail__box .testimonial-details {
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
  }
}
.page--about .section--our-mv .wrapper .pa-s-omv-infos {
  width: 650px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  row-gap: 1.3rem;
}
.page--about .section--our-mv .wrapper .pa-s-omv-infos__box {
  border-radius: 8px;
  border: 1px solid #393838;
  padding: 33px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-infos__box__icon {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: #55B809;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-bottom: 15px;
}
.page--about .section--our-mv .wrapper .pa-s-omv-infos__box h3 {
  color: #fff;
}
.page--about .section--our-mv .wrapper .pa-s-omv-infos__box p {
  max-width: 230px;
  color: #fff;
  margin: 0;
}
@media (max-width: 692px) {
  .page--about .section--our-mv .wrapper .pa-s-omv-infos {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 992px) {
  .page--about .section--our-mv .wrapper {
    flex-direction: column;
  }
  .page--about .section--our-mv .wrapper .pa-s-omv-detail h2 {
    max-width: 100%;
  }
  .page--about .section--our-mv .wrapper .pa-s-omv-detail__label {
    max-width: 100%;
  }
  .page--about .section--our-mv .wrapper .pa-s-omv-detail__box {
    max-width: 100%;
  }
  .page--about .section--our-mv .wrapper .pa-s-omv-infos {
    width: 100%;
  }
  .page--about .section--our-mv .wrapper .pa-s-omv-infos p {
    max-width: 100%;
  }
}
.page--about .section--why-trust {
  width: 100%;
  padding: 112px 0rem;
  padding-top: 80px;
}
.page--about .section--why-trust .wrapper {
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-between;
}
.page--about .section--why-trust .wrapper .pa-sws-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .page--about .section--why-trust .wrapper .pa-sws-image {
    padding-inline: 5rem;
  }
  .page--about .section--why-trust .wrapper .pa-sws-image img {
    rotate: 90deg;
  }
}
@media (max-width: 492px) {
  .page--about .section--why-trust .wrapper .pa-sws-image {
    padding-inline: 3rem;
  }
}
.page--about .section--why-trust .wrapper .pa-sws-detail {
  width: 600px;
  display: flex;
  flex-direction: column;
}
.page--about .section--why-trust .wrapper .pa-sws-detail h2 {
  color: #fff;
  max-width: 600px;
  margin-bottom: 1.5rem;
}
.page--about .section--why-trust .wrapper .pa-sws-detail__label {
  max-width: 550px;
  color: #fff;
  margin-bottom: 1.5rem;
}
.page--about .section--why-trust .wrapper .pa-sws-detail__box {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 15px;
}
.page--about .section--why-trust .wrapper .pa-sws-detail__box svg {
  margin-top: 3px;
}
.page--about .section--why-trust .wrapper .pa-sws-detail__box p {
  max-width: 480px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
}
.page--about .section--why-trust .wrapper .pa-sws-detail .btns-container {
  margin-top: 2rem;
}
@media (max-width: 992px) {
  .page--about .section--why-trust .wrapper {
    flex-direction: column;
    gap: 0px;
  }
  .page--about .section--why-trust .wrapper .pa-sws-image {
    width: 100%;
  }
  .page--about .section--why-trust .wrapper .pa-sws-detail {
    width: 100%;
    margin-top: 1.2rem;
  }
  .page--about .section--why-trust .wrapper .pa-sws-detail h2,
  .page--about .section--why-trust .wrapper .pa-sws-detail h4,
  .page--about .section--why-trust .wrapper .pa-sws-detail p {
    max-width: 992px;
  }
}
@media (max-width: 992px) {
  .page--about .section--why-trust {
    padding-top: 20px;
  }
}
.page--about .section--featured-service {
  width: 100%;
  padding-block: 112px;
  position: relative;
}
.page--about .section--featured-service .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.page--about .section--featured-service .wrapper h2 {
  max-width: 612px;
  text-align: center;
  margin-bottom: 2rem;
}
.page--about .section--featured-service .wrapper .pa-fs-w-label {
  max-width: 667px;
  text-align: center;
}
.page--about .section--featured-service .wrapper .pa-fs-w-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 3rem;
}
.page--about .section--featured-service .wrapper .pa-fs-w-con__box {
  background-color: #070707;
  border-radius: 8px;
  overflow: hidden;
}
.page--about .section--featured-service .wrapper .pa-fs-w-con__box__detail {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page--about .section--featured-service .wrapper .pa-fs-w-con__box__detail div {
  margin-bottom: 1rem;
}
.page--about .section--featured-service .wrapper .pa-fs-w-con__box__detail a {
  color: #55B809;
  text-decoration: none;
}
@media (max-width: 992px) {
  .page--about .section--featured-service .wrapper .pa-fs-w-con {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 692px) {
  .page--about .section--featured-service .wrapper .pa-fs-w-con {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .page--about .section--featured-service .wrapper .pa-fs-w-con__box__img {
    max-width: 100%;
  }
  .page--about .section--featured-service .wrapper .pa-fs-w-con__box__img img {
    width: 100%;
  }
}

.page--contact .section--hero {
  width: 100%;
  height: 500px;
  background-image: url("../../images/contact-hero.png");
  background-position: center;
  background-size: cover;
}
.page--contact .section--hero .wrapper {
  padding: 112px 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page--contact .section--hero .wrapper h1 {
  max-width: 700px;
  text-align: center;
  color: #fff;
}
.page--contact .section--hero .wrapper p {
  color: #fff;
  max-width: 580px;
  text-align: center;
}
@media (max-width: 592px) {
  .page--contact .section--hero {
    padding-block: 20px;
    height: auto;
  }
}
.page--contact .section--contact-form {
  width: 100%;
  background-color: #070707;
  padding-block: 112px;
}
.page--contact .section--contact-form__pre-title {
  color: #55B809;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.page--contact .section--contact-form__title {
  color: #fff;
  max-width: 760px;
}
.page--contact .section--contact-form__label {
  color: #fff;
  max-width: 730px;
}
.page--contact .section--contact-form__mform-con {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin-top: 2.7rem;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail {
  width: 50%;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box {
  display: flex;
  gap: 20px;
  align-items: center;
  text-decoration: none;
  margin-bottom: 1.7rem;
  max-width: fit-content;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-icon {
  min-width: 65px;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-txt {
  display: flex;
  flex-direction: column;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-txt p, .page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-txt h4 {
  margin: 0;
  color: #fff;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-txt h4 {
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 5px;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-txt p {
  font-weight: 400;
  color: #8C8C8C;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-txt__sub {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail__box .pcscfmfod-b-txt__sub h5 {
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  margin: 0;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail .pc-bx-loc {
  align-items: flex-start !important;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail .pc-bx-loc .pcscfmfod-b-txt {
  padding-top: 15px;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail .g-map-con {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail .g-map-con {
    display: none;
  }
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields {
  width: 50%;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .form--field {
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid hsla(0, 0%, 55%, 0.35);
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .form--field h3 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 2rem;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .form--field h3 span {
  color: #55B809;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .form--field__box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .form--field__box p {
  margin: 0;
  color: #fff;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 5px;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .form--field__box input, .page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .form--field__box textarea {
  padding: 5px 0.7rem;
  border-radius: 4px;
  border: 1px solid hsla(0, 0%, 55%, 0.35);
  background-color: transparent;
  color: #fff;
  resize: none;
}
.page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .g-map-con {
  width: 100%;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2rem;
  display: none;
}
@media (max-width: 992px) {
  .page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields .g-map-con {
    display: block;
  }
}
@media (max-width: 992px) {
  .page--contact .section--contact-form__mform-con {
    flex-direction: column;
    gap: 25px;
  }
  .page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-detail,
  .page--contact .section--contact-form__mform-con .pc-s-c-f-mfo-c-form-fields {
    width: 100%;
  }
}

.page--services .section--hero {
  width: 100%;
  height: 500px;
  background-image: url("../../images/service-hero.png");
  background-position: center;
  background-size: cover;
}
.page--services .section--hero .wrapper {
  padding: 112px 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page--services .section--hero .wrapper h1 {
  max-width: 760px;
  text-align: center;
  color: #fff;
}
.page--services .section--hero .wrapper p {
  color: #fff;
  max-width: 680px;
  text-align: center;
}
@media (max-width: 592px) {
  .page--services .section--hero {
    padding-block: 20px;
    height: auto;
  }
}
.page--services .section--service-list {
  padding-block: 112px;
}
.page--services .section--service-list .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page--services .section--service-list .wrapper h2, .page--services .section--service-list .wrapper__label {
  color: #fff;
  text-align: center;
}
.page--services .section--service-list .wrapper__label {
  max-width: 620px;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 3rem;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con p, .page--services .section--service-list .wrapper .ps-s-s-l-w-con h4 {
  color: #fff;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con h4 {
  font-size: 24px !important;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con__box {
  background-color: #070707;
  border-radius: 8px;
  overflow: hidden;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con__box__img {
  height: 250px;
  overflow: hidden;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con__box__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con__box__detail {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con__box__detail div {
  margin-bottom: 1rem;
}
.page--services .section--service-list .wrapper .ps-s-s-l-w-con__box__detail a {
  color: #55B809;
  text-decoration: none;
  max-width: fit-content;
}
@media (max-width: 992px) {
  .page--services .section--service-list .wrapper .ps-s-s-l-w-con {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 692px) {
  .page--services .section--service-list .wrapper .ps-s-s-l-w-con {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .page--services .section--service-list .wrapper .ps-s-s-l-w-con__box__img {
    max-width: 100%;
  }
  .page--services .section--service-list .wrapper .ps-s-s-l-w-con__box__img img {
    width: 100%;
  }
}
.page--services .section--serv-cls {
  width: 100%;
  padding-block: 112px;
  padding-top: 60px !important;
}
.page--services .section--serv-cls .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.page--services .section--serv-cls .wrapper .ps-sc-w-image {
  max-width: 600px;
}
.page--services .section--serv-cls .wrapper .ps-sc-w-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.page--services .section--serv-cls .wrapper .ps-sc-w-detail h2 {
  max-width: 615px;
  color: #fff;
}
.page--services .section--serv-cls .wrapper .ps-sc-w-detail p {
  max-width: 542px;
  color: #fff;
}
@media (max-width: 992px) {
  .page--services .section--serv-cls .wrapper {
    flex-direction: column;
  }
}

.page--serviced-detail .section--hero {
  width: 100%;
  height: 500px;
  background-image: url("../../images/ceramic-coating.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 112px 1rem;
}
.page--serviced-detail .section--hero__main {
  width: 900px;
  padding: 90px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  background-color: hsla(0, 0%, 3%, 0.83);
}
.page--serviced-detail .section--hero__main h1, .page--serviced-detail .section--hero__main p {
  text-align: center;
}
.page--serviced-detail .section--hero__main p {
  max-width: 477px;
  color: #fff;
}
@media (max-width: 592px) {
  .page--serviced-detail .section--hero {
    padding: 70px 1rem;
    height: auto;
  }
}
.page--serviced-detail .section--content {
  width: 100%;
  padding-block: 112px;
}
.page--serviced-detail .section--content .wrapper {
  max-width: 950px;
}
.page--serviced-detail .section--content .wrapper h2, .page--serviced-detail .section--content .wrapper p {
  color: #fff;
}
.page--serviced-detail .section--content .wrapper p {
  font-weight: 400;
  text-align: justify;
}
.page--serviced-detail .section--featured-service {
  width: 100%;
  padding-block: 112px;
  position: relative;
  padding-top: 60px;
}
.page--serviced-detail .section--featured-service .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.page--serviced-detail .section--featured-service .wrapper h2 {
  max-width: 612px;
  text-align: center;
  margin-bottom: 2rem;
}
.page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 3rem;
}
.page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con__box {
  background-color: #070707;
  border-radius: 8px;
  overflow: hidden;
}
.page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con__box__detail {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con__box__detail div {
  margin-bottom: 1rem;
}
.page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con__box__detail a {
  color: #55B809;
  text-decoration: none;
}
@media (max-width: 992px) {
  .page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 692px) {
  .page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con__box__img {
    max-width: 100%;
  }
  .page--serviced-detail .section--featured-service .wrapper .pa-fs-w-con__box__img img {
    width: 100%;
  }
}

.page--project .section--hero {
  width: 100%;
  height: 500px;
  background-image: url("../../images/project-hero.png");
  background-position: center;
  background-size: cover;
}
.page--project .section--hero .wrapper {
  padding: 112px 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.page--project .section--hero .wrapper h1 {
  max-width: 760px;
  text-align: center;
  color: #fff;
}
.page--project .section--hero .wrapper p {
  color: #fff;
  max-width: 750px;
  text-align: center;
}
@media (max-width: 592px) {
  .page--project .section--hero {
    padding-block: 20px;
    height: auto;
  }
}
.page--project .section--service-list {
  padding-block: 112px;
}
.page--project .section--service-list .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page--project .section--service-list .wrapper h2, .page--project .section--service-list .wrapper__label {
  color: #fff;
  text-align: start;
}
.page--project .section--service-list .wrapper h2 {
  max-width: 660px;
}
.page--project .section--service-list .wrapper__label {
  max-width: 620px;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin-top: 3rem;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con p, .page--project .section--service-list .wrapper .ps-s-s-l-w-con h4 {
  color: #fff;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con h4 {
  font-size: 24px !important;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con__box {
  background-color: #070707;
  border-radius: 8px;
  overflow: hidden;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__img {
  height: 250px;
  overflow: hidden;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__detail {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__detail div {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__detail div .prj-tag {
  align-self: flex-start;
  padding: 2px 1rem;
  border-radius: 4px;
  background-color: #55B809;
  color: #070707;
  font-weight: 600;
}
.page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__detail a {
  color: #55B809;
  text-decoration: none;
  max-width: fit-content;
}
@media (max-width: 992px) {
  .page--project .section--service-list .wrapper .ps-s-s-l-w-con {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 692px) {
  .page--project .section--service-list .wrapper .ps-s-s-l-w-con {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__img {
    max-width: 100%;
  }
  .page--project .section--service-list .wrapper .ps-s-s-l-w-con__box__img img {
    width: 100%;
  }
}

.page--project-detail .section--hero {
  width: 100%;
  height: 500px;
  background-image: url("../../images/prj-detail.png");
  background-position: center;
  background-size: cover;
}
.page--project-detail .section--hero .wrapper {
  padding: 112px 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.page--project-detail .section--hero .wrapper .prj-d-tag {
  align-self: flex-start;
  padding: 2px 1rem;
  border-radius: 4px;
  background-color: #55B809;
  color: #070707;
  font-weight: 600;
}
.page--project-detail .section--hero .wrapper h1 {
  max-width: 760px;
  text-align: start;
  color: #fff;
}
.page--project-detail .section--hero .wrapper p {
  color: #fff;
  max-width: 750px;
  text-align: start;
}
@media (max-width: 592px) {
  .page--project-detail .section--hero {
    padding-block: 20px;
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
