@use "typography" as *;
@use "color" as *;

.btn {
    min-width: 150px;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 10px 17px;
    text-transform: capitalize;
    border: 1px solid $color-primary;
    border-radius: 5px;
    &--primary {
        background-color: $color-primary;
        color: $color-secondary;
        font-weight: 600;
        // &:hover {
        //     background-color: initial;
        //     color: $color-primary;
        // }
    }

    &--secondary {
        color: $color-secondary;
        background-color: $color-white;
        border-color: $color-white;
        // &:hover {
        //     background-color: $color-primary;
        //     color: #fff;
        // }
    }


}