.bg-yellow {
    background-color:#ffc107;
}

.bg-red {
    background-color: #d70808;
}

$color-primary: #55B809;
$color-secondary: #070707;

$color-background: #0C0B0A;
$color-white: #fff;
$color-gray: #fff;
