@use "color" as *;

footer {
    width: 100%;
    // height: 380px;
    padding: 112px 1rem;
    background-color: #070707;
    background-image: url('../../images/foo-bg.svg');
    background-position: center;

    .wrapper{
        display: grid;
        grid-template-columns: 40% 60%;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;

        .foo-socials{
            display: flex;
            flex-direction: column;
            gap: 20px;
            //background-color: bisque;
            &__logo{
                max-width: 260px;
            }
            &__socials-con{
                display: flex;
                gap: 10px;
                align-items: center;
                
                a{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 14px;
                    text-decoration: none;
                    color: $color-white;
                    .foo-socials__socials--icon{
                        width: 35px;
                        height: 35px;
                        border-radius: 50px;
                        background-color: $color-primary;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            p{
                font-size: 14px;
                font-weight: 400;
                max-width: 300px;
                color: $color-white;
            }
            @media (max-width: 992px) {
                align-items: center;
                p{
                    text-align: center;
                }
            }
        }
        .foo-page-links{
            max-width: 750px;
            //background-color: aquamarine;

            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 35px;
            margin-top: 1rem;

            div{
                display: flex;
                flex-direction: column;
                color: $color-white;

                h4{
                    font-size: 18px;
                    text-transform: uppercase;  
                }
                ul{
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    li{
                        max-width: 290px;
                        a{
                            color: $color-white;
                            font-size: 16px;
                            font-weight: 500;
                            width: fit-content;
                            &:hover{
                                color: $color-primary;
                            }
                        }
                    }
                }
            }
            @media (max-width: 992px) {
                flex-direction: column;
                align-items: center;
                div{
                    margin: 0 !important;
                    align-items: center;
                    h4{
                        text-align: center;
                    }
                    ul{
                        align-items: center;

                        li{
                            text-align: center;
                            a{
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        @media (max-width: 992px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }



    @media (max-width: 1350px) {
        background-size: cover;
    }
}