@use "typography" as *;
@use "color" as *;

body {
    font-family: $font-primary;
    font-size: 16px;
    overflow-x: hidden;
    background-color: $color-background;

    position: relative;
    height: fit-content;
    // background-color: #7702FF;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 1rem;
}

.main-content {
    padding-top: 0px;
    // @media (max-width: 992px) {
    //     padding-top: 55px;
    // }
}

.heading-top {
    display: block;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.global--pre-title{
    color: $color-gray;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 110%;
    font-family: $font-secondary;
    margin-bottom: 12px;
}

p{
    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
    font-family: $font-primary;

}

h1{
    font-size: 55px;
    font-weight: 600;
    font-family: $font-secondary;
    line-height: 110%;

    @media(max-width: 992px) {
        font-size: 45px;
    }
    span {
        color: $color-primary;
    }
}

h2 {
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 20px;
    font-family: $font-secondary;
    @media(max-width:992px) {
        font-size: 35px;
    }
    span {
        color: $color-primary;
    }
}
h3{
    font-size: 30px;
    font-weight: 600;
    line-height: 110%;
    @media(max-width:992px) {
        font-size: 25px;
    }
}

h4{
    font-size: 20px;
    font-weight: 600;
    line-height: 110%;
    font-family: $font-secondary;
    @media(max-width:992px) {
        font-size: 20px;
    }
    span {
        color: $color-primary;
    }
}

img{
    user-select: none;
    -webkit-user-drag: none;
}

.global--form {
    background-color: #fff;
    padding: 50px 40px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    h2 {
        font-weight: 500;
        font-size: 30px;
    }
    .form-group {
        label {
            display: block;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            color: #000000;
        }

        .form-control {
            height: 50px;
            background: #FFFFFF;
            border: 0.5px solid rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            padding-left: 30px;
            padding-right: 30px;
        }

        textarea.form-control {
            height: 150px;
            padding-top: 10px;
        }

        .btn--primary {
            width: 100%;
            display: block;
            margin-top: 35px;
        }
    }
}

.btns-container{
    display: flex;
    gap: 1rem;

    @media (max-width: 492px) {
        flex-direction: column;
        // align-items: flex-start;
    }
}

.top-bar{
    // z-index: 999;
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 55px;
    padding: 0px 1rem;
    background-color: $color-background;
    .wrapper{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .services-quick-links{
            display: flex;
            align-items: center;
            gap: 10px;

            span{
                display: block;
                width: 3px;
                height: 3px;
                border-radius: 10px;
                background-color: #fff;
                margin: 0 !important;
            }
            a{
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                margin: 0 !important;
            }
        }
        .top-bar-socials{
            display: flex;
            align-items: center;
            gap: 10px;

            a{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 14px;
                text-decoration: none;
                color: $color-white;
                .top-bar-socials--icon{
                    width: 35px;
                    height: 35px;
                    border-radius: 50px;
                    background-color: $color-primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                @media (max-width: 692px) {
                    margin: 0 !important;
                    span{
                        display: none;
                    }
                }
            }
        }
        @media (max-width: 692px) {
            flex-direction: column;
            justify-content: center;
            gap: .7rem;
        }
    }
    @media (max-width: 692px) {
        height: 85px !important;
        position: relative;
        z-index: 9999;
    }
}

.main--cta{
    background-image: url('../../images/cta-bg.png');
    background-position: center;
    background-size: cover;
    width: 100%;

    .wrapper{
        padding: 112px 1rem;
        color: $color-white;
        display: flex;
        flex-direction: column;
        gap: .8rem;
        p{
            max-width: 620px;
        }
    }
}