@use "color" as *;

header {
    z-index: 999;
    position: sticky;
    // margin-top: 55px;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: $color-secondary;

    .wrapper{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: space-between;
        .main-logo{
            max-width: 220px;
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: rebeccapurple;
        }
        .main-navigation {
            display: flex;
            // background-color: red;
            align-items: center;
            ul {
                padding: 0;
                margin: 0;
                li {
                    display: inline-block;
                    padding: 0 16px;
                    @media(max-width:1440px) {
                        padding: 0 12px;
                    }
                    a {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: $color-white;
                        @media(max-width:1280px) {
                            font-size: 14px;
                        }
                        &:hover {
                            color: $color-primary;
                        }
                    }
                }
            }
        }
    }

    .right {
        text-align: right;
        .btn {
            display: inline-block;
            margin-left: 8px;
            @media(max-width:1280px) {
                font-size: 14px;
            }
        }
    }
  
}