@use "../component/typography" as *;
@use "../component/color" as *;

.page--contact{
   .section{
      &--hero{
         width: 100%;
         height: 500px;
         background-image: url('../../images/contact-hero.png');
         background-position: center;
         background-size: cover;
         
         .wrapper{
            padding: 112px 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;

            h1{
               max-width: 700px;
               text-align: center;
               color: $color-white;
            }
            p{
               color: $color-white;
               max-width: 580px;
               text-align: center;
            }
         }
         @media (max-width: 592px) {
            padding-block: 20px;
            height: auto;
         }
         @media (max-width: 692px) {

         }
      }
      &--contact-form{
         width: 100%;
         // height: 40rem;
         background-color: $color-secondary;
         padding-block: 112px;
         
         &__pre-title{
            color: $color-primary;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 600;
         }
         &__title{
            color: $color-white;
            max-width: 760px;
         }
         &__label{
            color: $color-white;
            max-width: 730px;
         }

         &__mform-con{
            display: flex;
            gap: 80px;
            justify-content: space-between;
            margin-top: 2.7rem;
            .pc-s-c-f-mfo-c-detail{
               width: 50%;

               &__box{
                  display: flex;
                  gap: 20px;
                  align-items: center;
                  text-decoration: none;
                  margin-bottom: 1.7rem;
                  max-width: fit-content;
                  
                  .pcscfmfod-b-icon{
                     min-width: 65px;
                  }
                  .pcscfmfod-b-txt{
                     display: flex;
                     flex-direction: column;
                     p,h4{
                        margin: 0;
                        color: $color-white;
                     }
                     h4{
                        text-transform: uppercase;
                        font-size: 18px;
                        margin-bottom: 5px;
                     }
                     p{
                        font-weight: 400;
                        color: #8C8C8C;
                     }

                     &__sub{
                        display: flex;
                        flex-direction: column;
                        margin-top: 10px;
                        h5{
                           font-size: 15px;
                           font-weight: 600;
                           color: $color-white;
                           margin: 0;
                        }
                     }
                  }
                  // @media (max-width: 392px) {
                  //    flex-direction: column;
                  //    align-items: flex-start;
                  // }
               }
               .pc-bx-loc{
                  align-items: flex-start !important;
                  .pcscfmfod-b-txt{
                     padding-top: 15px;
                  }
               }

               .g-map-con{
                  width: 100%;
                  height: 350px;
                  border-radius: 8px;
                  overflow: hidden;
                  @media (max-width: 992px) {
                     display: none;
                  }
               }
            }
            .pc-s-c-f-mfo-c-form-fields{
               width: 50%;

               .form--field{
                  width: 100%;
                  padding: 30px;
                  border-radius: 8px;
                  border: 1px solid hsla(0, 0%, 55%, 0.35);

                  h3{
                     font-size: 24px;
                     font-weight: 600;
                     color: $color-white;
                     margin-bottom: 2rem;
                     span{
                        color: $color-primary;
                     }
                  }

                  &__box{
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 1.3rem;
                     p{
                        margin: 0;
                        color: $color-white;
                        text-transform: uppercase;
                        color: $color-white;
                        margin-bottom: 5px;
                     }
                     input,textarea{
                        padding: 5px .7rem;
                        border-radius: 4px;
                        border: 1px solid hsla(0, 0%, 55%, 0.35);
                        background-color: transparent;
                        color: $color-white;
                        resize: none;

                     }

                  }
               }
               .g-map-con{
                  width: 100%;
                  height: 350px;
                  border-radius: 8px;
                  overflow: hidden;
                  margin-top: 2rem;
                  display: none;
                  @media (max-width: 992px) {
                     display: block;
                  }
               }
            }
            @media (max-width: 992px) {
               flex-direction: column;
               gap: 25px;
               .pc-s-c-f-mfo-c-detail,
               .pc-s-c-f-mfo-c-form-fields{
                  width: 100%;

               }
            }
         }
      }
   }
}