@use "../component/typography" as *;
@use "../component/color" as *;

.page--project-detail{
   .section{
      &--hero{
         width: 100%;
         height: 500px;
         background-image: url('../../images/prj-detail.png');
         background-position: center;
         background-size: cover;
         
         .wrapper{
            padding: 112px 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
         
            .prj-d-tag{
               align-self: flex-start;
               padding: 2px 1rem;
               border-radius: 4px;
               background-color: $color-primary;
               color: #070707;
               font-weight: 600;
            }
            h1{
               max-width: 760px;
               text-align: start;
               color: $color-white;
            }
            p{
               color: $color-white;
               max-width: 750px;
               text-align: start;
            }
         }
         @media (max-width: 592px) {
            padding-block: 20px;
            height: auto;
         }
         @media (max-width: 692px) {

         }
      }
      &--content{
         
      }
   }
}