@use "../component/typography" as *;
@use "../component/color" as *;

.page--services{
   .section{
      &--hero{
         width: 100%;
         height: 500px;
         background-image: url('../../images/service-hero.png');
         background-position: center;
         background-size: cover;
         
         .wrapper{
            padding: 112px 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            
            h1{
               max-width: 760px;
               text-align: center;
               color: $color-white;
               
            }
            p{
               color: $color-white;
               max-width: 680px;
               text-align: center;
            }
         }
         @media (max-width: 592px) {
            padding-block: 20px;
            height: auto;
         }
         @media (max-width: 692px) {

         }
      }
      &--service-list{
         padding-block: 112px;


         .wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            h2, &__label{
               color: $color-white;
               text-align: center;
            }&__label{ max-width: 620px }

            .ps-s-s-l-w-con{
               display: grid;
               grid-template-columns: 1fr 1fr 1fr;
               gap: 40px;
               margin-top: 3rem;
               p, h4{
                  color: $color-white;
               }
               h4{
                  font-size: 24px !important;
               }
               &__box{
                  background-color: #070707;
                  border-radius: 8px;
                  overflow: hidden;

                  &__img{
                     height: 250px;
                     overflow: hidden;
                     img{
                        width: 100%;
                        height: 100%;
                        display: block;
                        object-fit: cover;
                        object-position: center;
                     }
                  }
                  &__detail{
                     padding: 30px 25px;
                     display: flex;
                     flex-direction: column;
                     justify-content: space-between;
                     div{
                        margin-bottom: 1rem;
                     }
                     a{
                        color: $color-primary;
                        text-decoration: none;
                     }
                  }

               }
               @media (max-width: 992px) {
                  grid-template-columns: 1fr 1fr;
                  gap: 30px;
               }
               @media (max-width: 692px) {
                  grid-template-columns: 1fr;
                  gap: 20px;
                  &__box{

                     &__img{
                        max-width: 100%;
                        img{
                           width: 100%;
                        }
                     }
                  }
               }
            }
         }
      }
      &--serv-cls{
         width: 100%;
         padding-block: 112px;
         padding-top: 60px !important;

         .wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 40px;

            .ps-sc-w-image{
               max-width: 600px;
            }
            .ps-sc-w-detail{
               display: flex;
               flex-direction: column;
               align-items: flex-start;
               gap: 10px;
               h2{
                  max-width: 615px;
                  color: $color-white;
               }
               p{
                  max-width: 542px;
                  color: $color-white;
               }
            }
            @media (max-width: 992px) {
               flex-direction: column;
               
            }
         }
      }
   }
}